.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo h1{
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  background-color: crimson;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-container:hover{
  background-color: black;
}

.main-menu{
  display: flex;
}
.menu{
  display: flex;
  width: 30rem;
  justify-content: space-around;
  list-style: none;
  padding-top: 16px;
}
.menu li{
  transition: 0.3s;
  color: #fff;
}
.menu li:hover{
  font-weight: bold;
  color: crimson;
}






